.success{
    padding: 10px;
    color: #00b894;
    margin-bottom: -22px; 
}

.error{
    padding: 10px;
    color: #d63031;
    margin-bottom: -22px; 
}

.py-6{
    padding-bottom: 1rem !important;
    padding-top: 7rem !important;
}

.bg-none{
    background-color: transparent !important;
}

.text{
    width: 100% !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0;
    height: 40px;
    padding-left: 10px !important;
    padding-top: 10px !important;
}

.select{
    width: 100% !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0;
    height: 40px;
    padding-left: 10px !important;
}